@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Rubik', sans-serif; */

:root {
  --white: #ffffff;
  --black: #151515;
  --blackRGB: 21, 21, 21;
  --whiteRGB: 255, 255, 255;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.material-icons {
  padding: 0;
  margin: 0;
}
/* icon pre fixes */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

h1,
p {
  margin: 0;
}

span {
  display: block;
}

nav {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 5em;
  margin-right: 2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* COOL CUBE with class*/
.cube-container {
  position: relative;
  margin-left: 2em;
}

.cube-container span {
  position: absolute;
  top: calc(0% - 10px);
  left: calc(100% - 10px);
  width: 65px;
  height: 65px;
  background: var(--white);
  opacity: 0;
  z-index: 1;
}

.cube-container span:hover + div:first-of-type div {
  width: 45px;
  height: 45px;
  border: 3px white dashed;
}

.cube-container > div {
  margin-bottom: 22.5px;
  transform-style: preserve-3d;
  animation: turn 40s linear infinite;
}

.cube-container > div div {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 3px var(--white) solid;
  transition: 0.4s linear;
}

/* cube sides */
.cube-container > div div:nth-of-type(1) {
  transform: translateZ(22.5px);
}
.cube-container > div div:nth-of-type(2) {
  transform: rotateX(90deg) translateZ(22.5px);
}
.cube-container > div div:nth-of-type(3) {
  transform: rotateY(90deg) translateZ(22.5px);
}
.cube-container > div div:nth-of-type(4) {
  transform: rotateY(-90deg) translateZ(22.5px);
}
.cube-container > div div:nth-of-type(5) {
  transform: rotateX(-90deg) translateZ(22.5px);
}
.cube-container > div div:nth-of-type(6) {
  transform: rotateY(-180deg) translateZ(22.5px);
}

/* unending turn  */
@keyframes turn {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg) rotateY(40deg); /* + rotate Y gives it a 2 demensional rotate;  */
  }
  100% {
    transform: rotateX(0deg);
  }
}

/* HAMBURGER BUTTON */

.hamburger-container {
  position: relative;
}

.hamburger-container:hover button {
  color: var(--black);
  background: var(--white);
  transform: rotate(90deg);
}

.hamburger-container:hover span {
  width: calc(65px + 45px);
  opacity: 1;
}

.hamburger-container button {
  border-radius: 50%;
  border: 1px var(--white) solid;
  color: var(--white);
  width: 45px;
  height: 45px;
  background: rgba(var(--whiteRGB), 0);
  margin-right: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: 0.4s ease;
}

.hamburger-container > span {
  background: rgba(var(--blackRGB), 0.6);
  color: var(--white);
  font-weight: 400;
  font-size: 14px;

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 45px;
  height: 45px;
  padding-left: 20px;

  position: absolute;
  right: calc(100% - 45px);
  bottom: 0%;

  opacity: 0;
  transition: 0.2s ease;
  z-index: -1;
}

/* MAIN SECTION */
main:nth-of-type(1) {
  display: flex;
}

/* ALL SECTION STYLES */
main:nth-of-type(1) section {
  height: 100vh;
  margin-right: -1px; /* for now its ok */
  padding: 0;
  position: relative;
  color: var(--white);
  flex: 0 0 33.3333%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main:nth-of-type(1) section::before {
  /* background image in before overlay */
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/picture-1.jpg");
  background-size: cover;
  filter: grayscale(100%);
}

main:nth-of-type(1) section:hover::before {
  filter: none;
  transition: 0.5s linear;
}

/* INDIVIDUAL SECTIONS */
main:nth-of-type(1) section:nth-of-type(1)::before {
  background-image: url("../assets/images/picture-1.jpg");
}

main:nth-of-type(1) section:nth-of-type(2)::before {
  background-image: url("../assets/images/picture-2.jpg");
}

main:nth-of-type(1) section:nth-of-type(3):before {
  background-image: url("../assets/images/picture-3.jpg");
}

main:nth-of-type(1) section:nth-of-type(4):before {
  background-image: url("../assets/images/picture-4.jpg");
}

main:nth-of-type(1) section:nth-of-type(5):before {
  background-image: url("../assets/images/picture-5.jpg");
}

main:nth-of-type(1) section:nth-of-type(6):before {
  background-image: url("../assets/images/picture-6.jpg");
}

/* DISPLAY CONTENT */
main:nth-of-type(1) section > div {
  /* content container */
  position: relative;
  margin-bottom: 10em;
  padding-left: 2em;
}

h1 span {
  font-size: 3.9vw;
  display: block;
  font-weight: 500;
  letter-spacing: 1.5px;
}

section > div div:nth-of-type(2) {
  overflow: hidden;
}

section > div div:nth-of-type(2) p:first-of-type {
  font-size: 1.2em;
  margin-top: 1em;
}

section > div div:nth-of-type(2) p:first-of-type span:first-of-type {
  margin-bottom: 4px;
}

section > div div:nth-of-type(2) p:nth-of-type(2) {
  font-weight: 300;
  margin-top: 2em;
  opacity: 0.9;
}

/* FOOTER */
footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100vw;
  height: 5em;
  margin-right: 2em;
  display: flex;
  justify-content: space-between;
}

footer button {
  border-radius: 50%;
  border: none;
  width: 45px;
  height: 45px;
  background: rgba(var(--whiteRGB), 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer button:nth-of-type(1) {
  margin-left: 2em;
}

footer button:nth-of-type(2) {
  margin-right: 2em;
}

footer button span {
  color: var(--black);
  font-size: 36px;
  margin: 0;
  padding: 0;
}

footer button:first-of-type span {
  transform: rotate(180deg);
}

/* desktop first  */
@media screen and (min-width: 1500px) {
  h1 span {
    font-size: 2.5vw;
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 1150px) and (max-width: 1500px) {
  h1 span {
    font-size: 3.02vw;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  p {
    font-size: 15px;
  }
}

@media screen and (min-width: 1600px) {
  p {
    font-size: 16px;
  }
}
