@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Rubik', sans-serif; */

:root {
  --white: #ffffff;
  --black: #151515;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

h1,
p {
  margin: 0;
}

span {
  display: block;
}

/* SECOND SECTION */
main:nth-of-type(1) {
  display: flex;
}

main:nth-of-type(1) section {
  height: 100vh;
  margin-right: -1px; /* for now its ok */
  padding: 0;
  position: relative;
  background-size: cover;
  color: var(--white);

  flex: 0 0 33.3333%;
}

main:nth-of-type(1) section:nth-of-type(1) {
  background-image: url("../assets/images/picture.jpeg");
}

main:nth-of-type(1) section:nth-of-type(2) {
  background-image: url("../assets/images/picture-2.jpeg");
}

main:nth-of-type(1) section:nth-of-type(3) {
  background-image: url("../assets/images/picture-3.jpeg");
}

main:nth-of-type(1) section:nth-of-type(4) {
  background-image: url("../assets/images/picture-4.jpeg");
}

main:nth-of-type(1) section:nth-of-type(5) {
  background-image: url("../assets/images/picture-5.jpg");
}

main:nth-of-type(1) section:nth-of-type(6) {
  background-image: url("../assets/images/picture-6.jpg");
}

main:nth-of-type(1) section > div {
  position: absolute;
  left: 5%;
  bottom: 25%;
}

h1 span {
  font-size: 3.9vw;
  display: block;
  font-weight: 500;
  letter-spacing: 1.5px;
}

p {
  font-size: 1.2em;
  margin-top: 1em;
}

/* desktop first  */
@media screen and (min-width: 1500px) {
  h1 span {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 1150px) and (max-width: 1500px) {
  h1 span {
    font-size: 3.02vw;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  p {
    font-size: 15px;
  }
}

@media screen and (min-width: 1600px) {
  p {
    font-size: 16px;
  }
}
