<div class="cube-container">
  <!-- after element -->
  <span></span>
  <!-- rotating container box -->
  <div>
    <!-- cube sides -->
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
