<!-- Menu overlay -->
<div id="overlay-container">
  <div>
    <h1><a href="#">About</a></h1>
  </div>
  <div>
    <h1><a href="#">Cases</a></h1>
  </div>
  <div>
    <h1><a href="#">Contact us</a></h1>
  </div>
</div>
