<!DOCTYPE html>
<html lang="en">
  <%- include('partials/layout') %>
  <body>
    <nav>
      <!-- moving cube -->
      <%- include('partials/cube') %>

      <!-- hamburger -->
      <button class="menuButton">
        <!-- animation  -->
        <span>Menu</span>
        <div><span class="material-icons md-24">menu</span></div>
      </button>
    </nav>
    <main data-scroll-container>
      <!-- 1 -->
      <section data-scroll-section>
        <div>
          <div>
            <h1>
              <span>A full new</span>
              <span>experience</span>
            </h1>
          </div>
          <div>
            <p>
              <span>some freaking cool text mate</span>
              <span>Some more cool text mate</span>
            </p>
            <p>Adidas</p>
          </div>
        </div>
      </section>
      <!-- 2 -->
      <section data-scroll-section>
        <div>
          <div>
            <h1>
              <span>A full new</span>
              <span>experience</span>
            </h1>
          </div>
          <div>
            <p>
              <span>some freaking cool text mate</span>
              <span>Some more cool text mate</span>
            </p>
            <p>Adidas</p>
          </div>
        </div>
      </section>
      <!-- 3 -->
      <section data-scroll-section>
        <div>
          <div>
            <h1>
              <span>A full new</span>
              <span>experience</span>
            </h1>
          </div>
          <div>
            <p>
              <span>some freaking cool text mate</span>
              <span>Some more cool text mate</span>
            </p>
            <p>Adidas</p>
          </div>
        </div>
      </section>
      <!-- 4 -->
      <section data-scroll-section>
        <div>
          <div>
            <h1>
              <span>A full new</span>
              <span>experience</span>
            </h1>
          </div>
          <div>
            <p>
              <span>some freaking cool text mate</span>
              <span>Some more cool text mate</span>
            </p>
            <p>Adidas</p>
          </div>
        </div>
      </section>
      <!-- 5 -->
      <section data-scroll-section>
        <div>
          <div>
            <h1>
              <span>A full new</span>
              <span>experience</span>
            </h1>
          </div>
          <div>
            <p>
              <span>some freaking cool text mate</span>
              <span>Some more cool text mate</span>
            </p>
            <p>Adidas</p>
          </div>
        </div>
      </section>
      <!-- 6 -->
      <section data-scroll-section>
        <div>
          <div>
            <h1>
              <span>A full new</span>
              <span>experience</span>
            </h1>
          </div>
          <div>
            <p>
              <span>some freaking cool text mate</span>
              <span>Some more cool text mate</span>
            </p>
            <p>Adidas</p>
          </div>
        </div>
      </section>
    </main>

    <%- include('partials/menuOverlay') %>

    <footer>
      <!-- to left button -->
      <button data-scroll-to>
        <!-- animation -->
        <span>More Cases</span>
        <div>
          <span class="material-icons md-24"> arrow_right_alt </span>
        </div>
      </button>

      <!-- to right button -->
      <button data-scroll-to data-scroll-call="logger()">
        <!-- animation -->
        <span>More Cases</span>
        <div>
          <span class="material-icons md-24"> arrow_right_alt </span>
        </div>
      </button>
    </footer>

    <%- include('partials/cursor') %>

    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://unpkg.com/locomotive-scroll@4.1.3/dist/locomotive-scroll.min.js"></script>
    <script src="./scripts/partials/locomotiv.js"></script>
    <script src="./scripts/app.js" type="module"></script>
  </body>
</html>
