@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Rubik', sans-serif; */

:root {
  --white: #ffffff;
  --black: #151515;
  --blackAlternative: #141414;
  --blackRGB: 21, 21, 21;
  --whiteRGB: 255, 255, 255;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  cursor: none;
}

.material-icons {
  padding: 0;
  margin: 0;
  font-size: var(--iconSize);
}
/* icon pre fixes */
.material-icons.md-18 {
  --iconSize: 18px;
}
.material-icons.md-24 {
  --iconSize: 24px;
}
.material-icons.md-36 {
  --iconSize: 36px;
}
.material-icons.md-48 {
  --iconSize: 48px;
}

h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--white);
  position: relative;
}

span {
  display: block;
}

button {
  background: none;
  border: none;
  cursor: none;
}

nav {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
}

/* COOL CUBE with class*/
.cube-container {
  position: relative;
  margin: 0 0 0 2em;
}

.cube-container span {
  position: absolute;
  top: calc(0% - 10px);
  left: calc(100% - 10px);
  width: 65px;
  height: 65px;
  background: var(--white);
  opacity: 0;
  z-index: 1;
}

.cube-container span:hover + div:first-of-type div {
  width: 45px;
  height: 45px;
  border: 2px var(--white) solid;
}

.cube-container > div {
  margin-bottom: 22.5px;
  transform-style: preserve-3d;
  animation: turn 40s linear infinite;
}

.cube-container > div div {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 3px var(--white) solid;
  transition: 0.4s linear;

  /* var(--angle)

 --angle: 90deg */
}

/* cube sides */
.cube-container > div div:nth-of-type(1) {
  transform: translateZ(22.5px);
}
.cube-container > div div:nth-of-type(2) {
  transform: rotateX(90deg) translateZ(22.5px);
}
.cube-container > div div:nth-of-type(3) {
  transform: rotateY(90deg) translateZ(22.5px);
}
.cube-container > div div:nth-of-type(4) {
  transform: rotateY(-90deg) translateZ(22.5px);
}
.cube-container > div div:nth-of-type(5) {
  transform: rotateX(-90deg) translateZ(22.5px);
}
.cube-container > div div:nth-of-type(6) {
  transform: rotateY(-180deg) translateZ(22.5px);
}

/* unending turn  */
@keyframes turn {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg) rotateY(40deg); /* + rotate Y gives it a 2 demensional rotate;  */
  }
  100% {
    transform: rotateX(0deg);
  }
}

/* HAMBURGER BUTTON */
.menuButton {
  position: relative;
}

.menuButton:hover > div {
  color: var(--black);
  background: var(--white);
  transform: rotate(90deg);
}

.menuButton:hover > span {
  width: calc(65px + 45px);
  opacity: 1;
}

.menuButton > div {
  border-radius: 50%;
  border: 1px var(--white) solid;
  color: var(--white);
  width: 45px;
  height: 45px;
  background: rgba(var(--whiteRGB), 0);
  margin-right: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: 0.2s ease;
}

/* BUTTON FLIP OUT */
.menuButton > span {
  background: rgba(var(--blackRGB), 0.6);
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 45px;
  height: 45px;
  padding-left: 20px;

  position: absolute;
  right: calc(100% - 45px);
  bottom: 0%;

  opacity: 0;
  transition: 0.2s ease;
  z-index: -1;
}

/* MAIN SECTION */
main:nth-of-type(1) {
  display: flex;
  z-index: -1;
}

/* ALL SECTION STYLES */
main:nth-of-type(1) section {
  height: 100vh;
  margin-right: -1px; /* for now its ok */
  padding: 0;
  position: relative;
  color: var(--white);
  flex: 0 0 33.3333%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main:nth-of-type(1) section::before {
  /* background image in before overlay */
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  filter: grayscale(100%);
  transition: 0.5s ease;
}

main:nth-of-type(1) section:hover::before {
  filter: none;
}

/* INDIVIDUAL SECTIONS */
main:nth-of-type(1) section:nth-of-type(1)::before {
  background-image: url("../assets/images/picture-1.jpg");
}

main:nth-of-type(1) section:nth-of-type(2)::before {
  background-image: url("../assets/images/picture-2.jpg");
}

main:nth-of-type(1) section:nth-of-type(3):before {
  background-image: url("../assets/images/picture-3.jpg");
}

main:nth-of-type(1) section:nth-of-type(4):before {
  background-image: url("../assets/images/picture-4.jpg");
}

main:nth-of-type(1) section:nth-of-type(5):before {
  background-image: url("../assets/images/picture-5.jpg");
}

main:nth-of-type(1) section:nth-of-type(6):before {
  background-image: url("../assets/images/picture-6.jpg");
}

/* DISPLAY CONTENT */
main:nth-of-type(1) section > div {
  /* content container */
  position: relative;
  margin: 0 0 10em 0;
  padding: 0 0 0 2em;
}

main:nth-of-type(1) section:hover + div h1 span {
  display: block;
  font-size: 3.9vw;
  font-weight: 500;
  letter-spacing: 1.5px;
}

/* main:nth-of-type(1) section p:first-of-type {
  opacity: 0;
  position: absolute;
}

main:nth-of-type(1) section:hover p:first-of-type {
  opacity: 1;
  transition: 2s linear;
  position: relative;
} */

section > div div:nth-of-type(2) p:first-of-type {
  font-size: 1.2em;
  margin: 1em 0 0 0;

  /* display: none; */
}

section > div div:nth-of-type(2) p:first-of-type span:first-of-type {
  margin: 0 0 4px 0;
}

section > div div:nth-of-type(2) p:nth-of-type(2) {
  font-weight: 300;
  margin: 2em 0 0 0;
  opacity: 0.9;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 5em;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

footer button {
  position: relative;
  border-radius: 50%;
  border: none;
  width: 45px;
  height: 45px;
  padding: 0;
}

footer button:nth-of-type(1) {
  margin: 0 0 0 2em;
}

footer button:nth-of-type(2) {
  margin: 0 2em 0 0;
}

footer button > div {
  border-radius: 50%;
  border: 1px var(--white) solid;
  color: var(--white);
  width: 45px;
  height: 45px;
  background: rgba(var(--whiteRGB), 0);
  margin-right: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: 0.2s ease;
}

/* BUTTON FLIP OUT */
footer button > span {
  background: rgba(var(--blackRGB), 0.6);
  color: var(--white);
  font-weight: 400;
  font-size: 14px;

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 80px;
  height: 45px;
  padding-left: 20px;

  position: absolute;
  right: calc(100% - 45px);
  bottom: 0%;

  opacity: 0;
  transition: 0.2s ease;
  z-index: -1;
}

footer button:hover > span {
  width: calc(100px + 45px);
  opacity: 1;
}

footer button:hover > div {
  background: var(--black);
}

footer button:first-of-type > span {
  left: calc(100% - 45px);
  right: 0;
  padding: 0 20px 0 0;
  align-items: flex-end;
}

footer button:first-of-type div span {
  transform: rotate(180deg);
}

#cursor {
  width: 1.2em;
  height: 1.2em;
  border: 2px solid var(--white);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  pointer-events: none;

  z-index: 99;
}

#overlay-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: fit-content;
}

#overlay-container > div {
  background: var(--black);
  color: var(--white);
  flex: 0 0 33.3333%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(-100vh);
}

#overlay-container > div h1 {
  margin: 0 0 0 2em;
  font-weight: normal;
  position: relative;
}

.active::after {
  content: " ";
  width: 100%;
  border-radius: 50px;
  height: 2.5px;
  background-color: var(--white);
  position: absolute;
  bottom: -15%;
  left: 0;
}

#overlay-container > div h1:after {
  content: " ";
}

#overlay-container > div:nth-of-type(2n) {
  background-color: var(--blackAlternative);
}

/* desktop first  */
@media screen and (min-width: 1500px) {
  h1 span {
    font-size: 2.5vw;
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 1150px) and (max-width: 1500px) {
  h1 span {
    font-size: 3.02vw;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  p {
    font-size: 15px;
  }
}

@media screen and (min-width: 1600px) {
  p {
    font-size: 16px;
  }
}
